@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components{
    .shade{
        @apply absolute w-full top-0 bottom-0 opacity-30 bg-black
    }
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}
:root {
    --nav-height: 80px;
    --nav-mobile-height: 60px;

}

body {
    line-height: 1.5;
    background-color: #F4F4F1;
    
    /* min-width: 100vh; */
    width: 100%;
    /* prevent the user from scrolling horizontally */
    max-width: 100%;
    overflow-x: hidden;
    /* overflow-y:scroll; */
}

html {
    font-family:  'Roboto', sans-serif;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
button,
textarea,
input,
select {
    outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

.container {
    width: 100%;
    max-width: 1933px !important;
    margin: 0 auto
}
.text-heading {
    font-family: 'Big Shoulders Stencil Text', sans-serif;
	font-size: 4.5rem;
	font-weight: 600;
	line-height: calc(57.2 / 44);
}
.text-sub-heading {
    font-family: 'Big Shoulders Stencil Text', sans-serif;
	font-size: 3rem;
	font-weight: 600;
	line-height: calc(57.2 / 44);
}
.text-title{
    font-size: 35px;
    font-weight: 600;
}
.text-desc {
	font-size: 1.125rem;
	font-weight: 400;
	line-height: calc(32.4 / 18);
}
/* HOMEPAGE */

@media (min-width: 768px) and (max-width: 1024px) {
	.container {
		padding-left: 40px;
		padding-right: 40px;
	}

	.text-heading {
		font-size: 38px;
	}
}
@media screen and (max-width: 768px) {
	.container {
		padding-left: 20px;
		padding-right: 20px;
	}
	.text-heading {
		font-size: 38px;
	}
	/* .text-desc {
		font-size: 20px;
	} */
}